// .ami {
//   width: 100vw;
//   align-items: center;
//   background-size: cover;
//   margin-top: 20px;
// }

// 参考
// https://webdesignday.jp/inspiration/technique/css/4213/
// https://webdesignday.jp/inspiration/technique/css/4213/
// https://dainashiyesterday.com/post-6446/
#locaton {
  padding: 4% 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .location-info {
      width: 22%;
      padding: 12px 10px;
    }
  }
}

.map {
  box-sizing: border-box;
  width: 100%;

  .inner {
    overflow: hidden;
    position: relative;
    padding-top: 150%;
    @media (min-width:768px) {
      padding-top: calc(100% * 9 / 16); // 縦横比 16:9なので
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
