body {
  background-color: #f5deb3;
  font-family: 'M PLUS Rounded 1c', sans-serif;

  // background-image: url("../images/necobar-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}
