.ken {
  width: 100vw;
  align-items: center;
  background-size: cover;
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  height: 20px;
  max-width: 240px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 5);
}

button {
  border: none;
  cursor: pointer;
  line-height: 2;
  text-align: center;
  width: 100px;
  background-color: #87CEFA;
}

fieldset {
  margin-bottom: 20px;
}
