body {
  // menu barの為の余白を確保
  padding-top: 58px;
}

header#luxbar.luxbar-fixed {
  ul li {
    margin-top: 0;

    list-style: none;
    margin: auto;
    font-size: bold;
    a {
      // color: black;
      text-decoration: none;
      &::before {
        right: 100%;
      }
      &::after {
        left: 100%;
      }
      &::before,
      &::after {
        border-bottom: 4px solid #ff6699;
        bottom: 0;
        content: "";
        position: sticky;
        display: block;
        transition: all .3s ease;
        width: 0;
      }
      &:hover::before,
      &:hover::after {
        width: 100%;
      }
    }
  }
}

// .page-header {
//   display: flex;
//   align-items: center;
//   .logo {
//     width: 250px;
//     padding-top: 0;
//     margin: auto;
//   }
//
//   .main-navi {
//     width: 1000px;
//     display: flex;
//     justify-content: flex-end;
//     font-family: 'M PLUS Rounded 1c', sans-serif;
//     padding-left: 5px;
//     padding-right: 5px;
//     margin: 0;
//     right: 30px;
//     position: absolute;
//     border-bottom: 0px dashed black;
//
//     li {
//       list-style: none;
//       margin: auto;
//       font-size: bold;
//       a {
//         color: black;
//         text-decoration: none;
//         &::before {
//           right: 100%;
//         }
//         &::after {
//           left: 100%;
//         }
//         &::before,
//         &::after {
//           border-bottom: 4px solid #ff6699;
//           bottom: 0;
//           content: "";
//           position: sticky;
//           display: block;
//           transition: all .3s ease;
//           width: 0;
//         }
//         &:hover::before,
//         &:hover::after {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
