.how {
  width: 100vw;
  align-items: center;
  background-size: cover;
  margin-top: 20px;
}

.title {
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

.title-discription {
  text-align: center;
  font-size: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


/*記事*/
article {
  width: 74%;
}

aside {
  width: 22%;
}

.how-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.step {
  text-align: center;
  font-size: 30px;
  border: 3px solid #ffb6c1;
  border-radius: 0;
  background: #ffb6c1;
}

.step-info {
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.step-no {
  background: #ffd700;
  border-radius: 50%;
  color: black;
  width: 80px;
  height: 80px;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 10px;
}

.step-no span {
  font-size: 1.3rem;
  border-top: 1px rgba(0, 0, 0, 1) solid;
  padding-top: 6px;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.step-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.step-title,
.step-sentence {
  margin-left: 120px;
}

.download1 {
  text-decoration: none;
  color: #0000cd;
}

.dl-button {
  display: flex;
  justify-content: center;
}

.dl-item {
  margin: 30px;
  padding: 10px;
  background: #ffd700;
}


/*必要書類のご案内*/
.trial,
.documents .goods {
  margin-left: 20px;
}

.download {
  text-decoration: none;
  color: black;
}

.dl-item a:hover {
  color: #1e90ff;
}

.dl-item a {
  padding: 10px;
  margin: 10px;
}


/*必要なもの紹介*/
.goods1 {
  text-align: center;
}

.grid {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/* サブメニュー*/
.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  font-weight: normal;
}

.sub-menu {
  list-style: none;
  margin-bottom: 60px;
}

.sub-menu li {
  border-bottom: 1px dotted black;
}

.sub-menu a {
  color: #432;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
}

.sub-menu a:hover {
  color: #00bbdd;
}

aside p {
  padding: 12px 10px;
}
