.interview {
  display: grid;
  grid-template-columns: 0.5rem 1fr 1fr 0.5rem;
  @media (min-width:768px) {
    grid-template-columns: 1rem 1fr 5fr 1fr 1rem;
  }
}

.chat {
  box-sizing: border-box;
  margin: 0.5rem 0;
}

.chat.left {
  grid-column: 2 / span 2;

  display: grid;
  grid-template-columns: minmax(60px, 10vw) 1fr;
  grid-template-rows: 1fr;
  column-gap: 18px;

  .cat-avatar {
    grid-column: 1;
    grid-row: 1;
    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  .cat-miaow {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    p {
      display: inline-block;
      min-height: calc(18px + 20px + 18px);
      margin: 0;
      padding: 18px 10px 18px 10px;
      position: relative;
      border-radius: 12px;
      background: #d7ebfe;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 18px;
        left: -24px;
        border: 12px solid transparent;
        border-right: 12px solid #d7ebfe;
      }
    }
  }
}

.chat.right {
  grid-column: span 2 / -2;

  display: grid;
  grid-template-columns: 1fr minmax(60px, 10vw);
  grid-template-rows: 1fr;
  column-gap: 18px;

  .cat-avatar {
    grid-column: 2;
    grid-row: 1;
    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  .cat-miaow {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    p {
      display: inline-block;
      min-height: calc(18px + 20px + 18px);
      margin: 0;
      padding: 18px 10px 18px 10px;
      position: relative;
      border-radius: 12px;
      background: #d7ebfe;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 18px;
        right: -24px;
        border: 12px solid transparent;
        border-left: 12px solid #d7ebfe;
      }
    }
  }
}
