/* コンテナの設定 */
body.top .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:    1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;

  margin: 0;
  padding: 0;
}

/* 列の設定 */
body.top .container {
  grid-template-rows:
    [sns] 30px
    [circle] auto
    [title] auto;
}

.sns {
  grid-row: sns;
}

.circle {
  grid-row: circle;

  display: block;
  width: 80vw;
  height: 80vw;
  background: rgba(255, 255, 64, 0.5);
  border-radius: 50%;
  p {
    text-align: center;
    margin-top: 20vw;
    color: black;
  }
  #warped {position: relative; display: block; width:270px; height:140px; margin-left: 15px;}

  #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
  -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
  100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

  #warped span{font-family:'ABeeZee';font-size:18px;font-weight:regular;font-style:normal;
  line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

  #warped .w0 {-moz-transform: rotate(7.52rad);-webkit-transform: rotate(7.52rad);-o-transform:
  rotate(7.52rad);-ms-transform: rotate(7.52rad); transform: rotate(7.52rad);
  width: 12px; height: 11px; left: 0.91px; top: 30.83px;}

  #warped .w1 {-moz-transform: rotate(7.41rad);-webkit-transform: rotate(7.41rad);-o-transform:
  rotate(7.41rad);-ms-transform: rotate(7.41rad); transform: rotate(7.41rad);
  width: 8px; height: 11px; left: 8.12px; top: 43.82px;}

  #warped .w2 {-moz-transform: rotate(7.33rad);-webkit-transform: rotate(7.33rad);-o-transform:
  rotate(7.33rad);-ms-transform: rotate(7.33rad); transform: rotate(7.33rad);
  width: 5px; height: 11px; left: 14.43px; top: 53.15px;}

  #warped .w3 {-moz-transform: rotate(7.26rad);-webkit-transform: rotate(7.26rad);-o-transform:
  rotate(7.26rad);-ms-transform: rotate(7.26rad); transform: rotate(7.26rad);
  width: 7px; height: 11px; left: 18.69px; top: 61.65px;}

  #warped .w4 {-moz-transform: rotate(7.18rad);-webkit-transform: rotate(7.18rad);-o-transform:
  rotate(7.18rad);-ms-transform: rotate(7.18rad); transform: rotate(7.18rad);
  width: 5px; height: 11px; left: 25.6px; top: 69.72px;}

  #warped .w5 {-moz-transform: rotate(7.08rad);-webkit-transform: rotate(7.08rad);-o-transform:
  rotate(7.08rad);-ms-transform: rotate(7.08rad); transform: rotate(7.08rad);
  width: 14px; height: 11px; left: 30.01px; top: 79.85px;}

  #warped .w6 {-moz-transform: rotate(6.96rad);-webkit-transform: rotate(6.96rad);-o-transform:
  rotate(6.96rad);-ms-transform: rotate(6.96rad); transform: rotate(6.96rad);
  width: 8px; height: 11px; left: 44.09px; top: 89.95px;}

  #warped .w7 {-moz-transform: rotate(6.86rad);-webkit-transform: rotate(6.86rad);-o-transform:
  rotate(6.86rad);-ms-transform: rotate(6.86rad); transform: rotate(6.86rad);
  width: 9px; height: 11px; left: 53.66px; top: 97.35px;}

  #warped .w8 {-moz-transform: rotate(6.77rad);-webkit-transform: rotate(6.77rad);-o-transform:
  rotate(6.77rad);-ms-transform: rotate(6.77rad); transform: rotate(6.77rad);
  width: 8px; height: 11px; left: 64.9px; top: 103.74px;}

  #warped .w9 {-moz-transform: rotate(6.69rad);-webkit-transform: rotate(6.69rad);-o-transform:
  rotate(6.69rad);-ms-transform: rotate(6.69rad); transform: rotate(6.69rad);
  width: 5px; height: 11px; left: 75.85px; top: 108.3px;}

  #warped .w10 {-moz-transform: rotate(6.6rad);-webkit-transform: rotate(6.6rad);-o-transform:
  rotate(6.6rad);-ms-transform: rotate(6.6rad); transform: rotate(6.6rad);
  width: 9px; height: 11px; left: 84.12px; top: 112.24px;}

  #warped .w11 {-moz-transform: rotate(6.5rad);-webkit-transform: rotate(6.5rad);-o-transform:
  rotate(6.5rad);-ms-transform: rotate(6.5rad); transform: rotate(6.5rad);
  width: 9px; height: 11px; left: 96.63px; top: 115.75px;}

  #warped .w12 {-moz-transform: rotate(6.4rad);-webkit-transform: rotate(6.4rad);-o-transform:
  rotate(6.4rad);-ms-transform: rotate(6.4rad); transform: rotate(6.4rad);
  width: 9px; height: 11px; left: 109.43px; top: 118px;}

  #warped .w13 {-moz-transform: rotate(6.32rad);-webkit-transform: rotate(6.32rad);-o-transform:
  rotate(6.32rad);-ms-transform: rotate(6.32rad); transform: rotate(6.32rad);
  width: 5px; height: 11px; left: 122.39px; top: 118.89px;}

  #warped .w14 {-moz-transform: rotate(6.23rad);-webkit-transform: rotate(6.23rad);-o-transform:
  rotate(6.23rad);-ms-transform: rotate(6.23rad); transform: rotate(6.23rad);
  width: 9px; height: 11px; left: 131.39px; top: 118.86px;}

  #warped .w15 {-moz-transform: rotate(6.14rad);-webkit-transform: rotate(6.14rad);-o-transform:
  rotate(6.14rad);-ms-transform: rotate(6.14rad); transform: rotate(6.14rad);
  width: 8px; height: 11px; left: 144.33px; top: 117.7px;}

  #warped .w16 {-moz-transform: rotate(6.04rad);-webkit-transform: rotate(6.04rad);-o-transform:
  rotate(6.04rad);-ms-transform: rotate(6.04rad); transform: rotate(6.04rad);
  width: 9px; height: 11px; left: 156.1px; top: 115.34px;}

  #warped .w17 {-moz-transform: rotate(5.94rad);-webkit-transform: rotate(5.94rad);-o-transform:
  rotate(5.94rad);-ms-transform: rotate(5.94rad); transform: rotate(5.94rad);
  width: 9px; height: 11px; left: 168.56px; top: 111.65px;}

  #warped .w18 {-moz-transform: rotate(5.84rad);-webkit-transform: rotate(5.84rad);-o-transform:
  rotate(5.84rad);-ms-transform: rotate(5.84rad); transform: rotate(5.84rad);
  width: 9px; height: 11px; left: 180.59px; top: 106.74px;}

  #warped .w19 {-moz-transform: rotate(5.76rad);-webkit-transform: rotate(5.76rad);-o-transform:
  rotate(5.76rad);-ms-transform: rotate(5.76rad); transform: rotate(5.76rad);
  width: 5px; height: 11px; left: 192.34px; top: 101.67px;}

  #warped .w20 {-moz-transform: rotate(5.68rad);-webkit-transform: rotate(5.68rad);-o-transform:
  rotate(5.68rad);-ms-transform: rotate(5.68rad); transform: rotate(5.68rad);
  width: 8px; height: 11px; left: 199.72px; top: 96.07px;}

  #warped .w21 {-moz-transform: rotate(5.58rad);-webkit-transform: rotate(5.58rad);-o-transform:
  rotate(5.58rad);-ms-transform: rotate(5.58rad); transform: rotate(5.58rad);
  width: 9px; height: 11px; left: 209.16px; top: 88.49px;}

  #warped .w22 {-moz-transform: rotate(5.48rad);-webkit-transform: rotate(5.48rad);-o-transform:
  rotate(5.48rad);-ms-transform: rotate(5.48rad); transform: rotate(5.48rad);
  width: 9px; height: 11px; left: 218.68px; top: 79.64px;}

  #warped .w23 {-moz-transform: rotate(5.39rad);-webkit-transform: rotate(5.39rad);-o-transform:
  rotate(5.39rad);-ms-transform: rotate(5.39rad); transform: rotate(5.39rad);
  width: 5px; height: 11px; left: 228px; top: 71.44px;}

  #warped .w24 {-moz-transform: rotate(5.33rad);-webkit-transform: rotate(5.33rad);-o-transform:
  rotate(5.33rad);-ms-transform: rotate(5.33rad); transform: rotate(5.33rad);
  width: 5px; height: 11px; left: 233.47px; top: 64.29px;}

  #warped .w25 {-moz-transform: rotate(5.22rad);-webkit-transform: rotate(5.22rad);-o-transform:
  rotate(5.22rad);-ms-transform: rotate(5.22rad); transform: rotate(5.22rad);
  width: 14px; height: 11px; left: 236.2px; top: 52.9px;}

  #warped .w26 {-moz-transform: rotate(5.11rad);-webkit-transform: rotate(5.11rad);-o-transform:
  rotate(5.11rad);-ms-transform: rotate(5.11rad); transform: rotate(5.11rad);
  width: 8px; height: 11px; left: 245.81px; top: 39.44px;}

  #warped .w27 {-moz-transform: rotate(5.02rad);-webkit-transform: rotate(5.02rad);-o-transform:
  rotate(5.02rad);-ms-transform: rotate(5.02rad); transform: rotate(5.02rad);
  width: 6px; height: 11px; left: 250.64px; top: 29.14px;}

  #warped .w28 {-moz-transform: rotate(-5.8rad);-webkit-transform: rotate(-5.8rad);-o-transform:
  rotate(-5.8rad);-ms-transform: rotate(-5.8rad); transform: rotate(-5.8rad);
  width: 17px; height: 24px; left: 356.37px; top: 332.13px;}

  #warped .w29 {-moz-transform: rotate(-6rad);-webkit-transform: rotate(-6rad);-o-transform:
  rotate(-6rad);-ms-transform: rotate(-6rad); transform: rotate(-6rad); width:
  20px; height: 24px; left: 377.08px; top: 341.14px;}

  #warped .w30 {-moz-transform: rotate(-6.16rad);-webkit-transform: rotate(-6.16rad);-o-transform:
  rotate(-6.16rad);-ms-transform: rotate(-6.16rad); transform: rotate(-6.16rad);
  width: 9px; height: 24px; left: 401.29px; top: 345.04px;}

  #warped .w31 {-moz-transform: rotate(-6.31rad);-webkit-transform: rotate(-6.31rad);-o-transform:
  rotate(-6.31rad);-ms-transform: rotate(-6.31rad); transform: rotate(-6.31rad);
  width: 16px; height: 24px; left: 415.28px; top: 345.97px;}

  #warped .w32 {-moz-transform: rotate(-6.57rad);-webkit-transform: rotate(-6.57rad);-o-transform:
  rotate(-6.57rad);-ms-transform: rotate(-6.57rad); transform: rotate(-6.57rad);
  width: 37px; height: 24px; left: 435.68px; top: 341.35px;}

  #warped .w33 {-moz-transform: rotate(-6.85rad);-webkit-transform: rotate(-6.85rad);-o-transform:
  rotate(-6.85rad);-ms-transform: rotate(-6.85rad); transform: rotate(-6.85rad);
  width: 19px; height: 24px; left: 475.11px; top: 327.83px;}

  #warped .w34 {-moz-transform: rotate(-7.03rad);-webkit-transform: rotate(-7.03rad);-o-transform:
  rotate(-7.03rad);-ms-transform: rotate(-7.03rad); transform: rotate(-7.03rad);
  width: 16px; height: 24px; left: 494.44px; top: 314.25px;}

  #warped .w35 {-moz-transform: rotate(-7.22rad);-webkit-transform: rotate(-7.22rad);-o-transform:
  rotate(-7.22rad);-ms-transform: rotate(-7.22rad); transform: rotate(-7.22rad);
  width: 22px; height: 24px; left: 507.59px; top: 296.23px;}

  #warped .w36 {-moz-transform: rotate(-7.37rad);-webkit-transform: rotate(-7.37rad);-o-transform:
  rotate(-7.37rad);-ms-transform: rotate(-7.37rad); transform: rotate(-7.37rad);
  width: 9px; height: 24px; left: 524.82px; top: 279.06px;}

  #warped .w37 {-moz-transform: rotate(-7.48rad);-webkit-transform: rotate(-7.48rad);-o-transform:
  rotate(-7.48rad);-ms-transform: rotate(-7.48rad); transform: rotate(-7.48rad);
  width: 11px; height: 24px; left: 530.03px; top: 265.62px;}

  #warped .w38 {-moz-transform: rotate(-7.59rad);-webkit-transform: rotate(-7.59rad);-o-transform:
  rotate(-7.59rad);-ms-transform: rotate(-7.59rad); transform: rotate(-7.59rad);
  width: 13px; height: 24px; left: 534.65px; top: 249.03px;}

  #warped .w39 {-moz-transform: rotate(-7.69rad);-webkit-transform: rotate(-7.69rad);-o-transform:
  rotate(-7.69rad);-ms-transform: rotate(-7.69rad); transform: rotate(-7.69rad);
  width: 13px; height: 24px; left: 538.51px; top: 231.94px;}

  #warped .w40 {-moz-transform: rotate(-7.79rad);-webkit-transform: rotate(-7.79rad);-o-transform:
  rotate(-7.79rad);-ms-transform: rotate(-7.79rad); transform: rotate(-7.79rad);
  width: 16px; height: 24px; left: 539.41px; top: 212.32px;}
}

.title {
  grid-row: title;

  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}

/* デスクトップ版 */
@media(min-width: 768px) {
  /* コンテナの設定 */
  body.top .container {
    display: grid;
    grid-template:
      "...... sns  " 1fr
      "circle title" 1fr /
       1fr    3fr;
    gap: 20px;

    margin: 0;
    padding: 0;
  }

  .sns {
    grid-area: sns;
  }

  .circle {
    grid-area: circle;

    display: block;
    width: 270px;
    height: 270px;
    background: rgba(255, 255, 64, 0.5);
    border-radius: 50%;
    p {
      text-align: center;
      margin-top: 40px;
      color: black;
    }
    #warped {position: relative; display: block; width:270px; height:140px; margin-left: 5px;}
  }

  .title {
    grid-area: title;
  }
}
