doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title
      = "#{current_page.data.title} | 保護猫カフェ 猫婆" || "保護猫カフェ 猫婆"
    = favicon_tag 'favicon.ico'
    link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png"

    meta name="description" content="三重県鈴鹿市にある保護猫カフェ猫婆。私たちは家族のいない猫を保護し、新しい家族を見つける活動をしています。"

    link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    script src="https://cdn.jsdelivr.net/npm/ie-buster@1.1.0/dist/ie-buster.min.js"
    = stylesheet_link_tag "style"

  body
    = partial 'header'
    = yield
    = partial 'footer'
