header#luxbar.luxbar-fixed
  input#luxbar-checkbox.luxbar-checkbox type="checkbox"
  .luxbar-menu.luxbar-menu-right.luxbar-menu-material-brown
    ul.luxbar-navigation
      li.luxbar-header
        a.luxbar-brand href="index.html"
          / img.logo src="necobar-logo.gif" alt="猫婆ホーム"
        label#luxbar-hamburger.luxbar-hamburger.luxbar-hamburger-doublespin for="luxbar-checkbox"
          span
      li.luxbar-item
        a href="price.html"
          i.fas.fa-paw
          |  料金・営業時間
      li.luxbar-item
        a href="cats.html"
          i.fas.fa-paw
          |  保護猫紹介
      li.luxbar-item
        a href="interview.html"
          i.fas.fa-paw
          |  インタビュー
      li.luxbar-item
        a href="how.html"
          i.fas.fa-paw
          |  里親になるためには
      li.luxbar-item
        a href="access.html"
          i.fas.fa-paw
          |  アクセス
      li.luxbar-item
        a href="form.html"
          i.fas.fa-paw
          |  お問い合わせ

/ header.navbar
/   section.navbar-section
/     a.navbar-brand.mr-2 href="#"  Spectre.css
/     a.btn.btn-link href="#"  Docs
/     a.btn.btn-link href="#"  GitHub
/   section.navbar-section
/     .input-group.input-inline
/       input.form-input placeholder="search" type="text"
/       button.btn.btn-primary.input-group-btn Search



/ header.page-header
/   h1
/     a href="index.html"
/       img.logo src="necobar-logo.gif" alt="猫婆ホーム"
/   nav
/     ul.main-navi
/       li
/         a href="price.html"
/           i.fas.fa-paw
/           |  料金・営業時間
/       li
/         a href="cats.html"
/           i.fas.fa-paw
/           |  保護猫紹介
/       li
/         a href="interview.html"
/           i.fas.fa-paw
/           |  インタビュー
/       li
/         a href="how.html"
/           i.fas.fa-paw
/           |  里親になるためには
/       li
/         a href="access.html"
/           i.fas.fa-paw
/           |  アクセス
/       li
/         a href="form.html"
/           i.fas.fa-paw
/           |  お問い合わせ
