---
title: アクセス
---

.image
  / img.ami src="ami.jpg" alt="ヘッダー画像"

section#location
  h2
    | 猫婆までのアクセス
  .wrapper
    .location-info
      h3.subtitle
        | 保護猫カフェ 猫婆
      p
        | 住所：三重県鈴鹿市
        br
        | 西条3-9-22 RoBar店舗2階
        br
        | 【近鉄三日市駅より徒歩約7分】
        br
        | 電話：
        = link_to '080-1612-9004', 'tel:080-1612-9004'
        br
        | 営業時間：不定休（完全予約制）
        br

.map
  p
    | 所在地
  .inner
    iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.014361385198!2d136.5658524165328!3d34.8809856803884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60038bb3386e552d%3A0x1dba94c48be821a7!2z44CSNTEzLTA4MDkg5LiJ6YeN55yM6Yi06bm_5biC6KW_5p2h77yT5LiB55uu77yZ4oiS77yS77yS!5e0!3m2!1sja!2sjp!4v1584360129537!5m2!1sja!2sjp" width="100%" height="auto" frameborder="1" style="border:0;" allowfullscreen=""
