---
title: 保護猫紹介
cats: [
          { image: "ranmaru.jpg",
             name: "蘭丸♂（3歳）",
             description: "甘えん坊で撫でられるのが大好き\n
                           いつもくっついて歩いてきます\n
                           甘えたい時はスタッフの背中を叩いてアピールします" },
          { image: "ran.jpg",
             name: "蘭♀（3歳）",
             description: "人間は好きだけど、猫はちょっと苦手\n
                           そのため、1匹だけで飼いたい方におすすめです\n
                           体は小柄で、毛質が柔らかいです" },
          { image: "netto.jpg",
             name: "ネット♂（2歳）",
             description: "オモチャが大好きなキジトラ\n
                           元気いっぱいで、あみの兄弟でもあります！\n
                           イケメンで頭がいいです" },
          { image: "ami1.jpg",
             name: "あみ♀（2歳）",
             description: "ネットの兄弟で、今人気のサビ柄！\n
                           少しシャイですが、遊ぶのが大好きです\n
                           ネットと同じく兄弟揃って元気いっぱいです！" },
          { image: "kentaro.jpg",
             name: "健太郎♂（3歳）",
             description: "シルバーのイケメントラ猫\n
                           誰よりも食べることが大好き！\n
                           とってもかわいい優しい声で鳴きます" },
          { image: "fukutaro.jpg",
             name: "福太郎♂（3歳）",
             description: "頭が良く、とっても優しい男の子。\n
                           よく舌をしまい忘れるお茶目な一面も。\n
                           猫エイズですが、発症はしていません" },
          { image: "chakun.jpg",
             name: "チャー♂（3歳）",
             description: "ちょっとボスっぽい雰囲気のある茶トラ\n
                           警戒心は少し強いですが、本当は甘えたい子。\n
                           猫エイズですが発症はしていません" },
          { image: "haku.jpg",
             name: "ハク♂（2歳）",
             description: "とても甘えん坊で、誰にでもべったり\n
                           甘えるのも遊ぶのも好きです\n
                           懐くので猫を初めて飼う方には飼いやすいかも？" },

        ]
---
.image
  img.net src="net.jpg" alt="ヘッダー画像"

h2.title
  | 猫婆の保護猫たち

p.sentence
  | 現在、猫婆で生活をしている保護猫たちをご紹介します。
  br
  | 気になる子がいましたら、お問い合わせフォームもしくは電話にてお問い合わせくださいね！

.wrapper.grid

  - current_page.data.cats.each do |cat|
    .cat
      = image_tag cat.image, alt: cat.name
      p.cat-name = cat.name
      p.item-sentence = cat.description.gsub("\n", "<br>")

    / .item
    /   img src="images/ranmaru.jpg" alt=""
    /   p.item-name
    /     | 蘭丸♂（3歳）
    /   p.item-sentence
    /     | 甘えん坊で撫でられるのが大好き
    /     br
    /     |  いつもくっついて歩いてきます
    /     br
    /     |  甘えたい時はスタッフの背中を叩いてアピールします
