---
title: お問い合わせ
---

.image
  img.ken src="info-top.gif" alt="ヘッダー画像"

h2
  | お問い合わせ
p
  | 気になる子がいる方、まだ猫を飼おうか迷っている方も気軽にお問い合わせください
  i.fas.fa-heart

.columns
  .column.col-10.col-sm-10.col-mx-auto
    form.form-horizontal method="post" action="/success.html" netlify="netlify"
      fieldset
        legend
          | ご自身について
        .form-group
          .col-3.col-sm-12
            label.form-label for="your-name" お名前
          .col-9.col-sm-12
            input#your-name.form-input placeholder="お名前" type="text"

        .form-group
          .col-3.col-sm-12
            label.form-label 性別
          label.form-radio.form-inline
            input name="gender" type="radio"
            i.form-icon
            | 男
          label.form-radio.form-inline
            input name="gender" type="radio"
            i.form-icon
            | 女

        .form-group
          .col-3.col-sm-12
            label.form-label for="telephone-number" 電話番号
          .col-9.col-sm-12
            input#telephone-number.form-input placeholder="電話番号" type="tel"

        .form-group
          .col-3.col-sm-12
            label.form-label 年代
          label.form-radio.form-inline
            input name="aetas" type="radio"
            i.form-icon
            | 10代
          label.form-radio.form-inline
            input name="aetas" type="radio"
            i.form-icon
            | 20代
          label.form-radio.form-inline
            input name="aetas" type="radio"
            i.form-icon
            | 30代
          label.form-radio.form-inline
            input name="aetas" type="radio"
            i.form-icon
            | 40代
          label.form-radio.form-inline
            input name="aetas" type="radio"
            i.form-icon
            | 50代
          label.form-radio.form-inline
            input name="aetas" type="radio"
            i.form-icon
            | 60代〜

        .form-group
          .col-3.col-sm-12
            label.form-label お住まい
          .col-9.col-sm-12
            select.form-select name="area"
              option value=""
                | 選択してください
              optgroup label="三重県内"
                option value="suzuka"
                  | 鈴鹿
                option value="kameyama"
                  | 亀山
                option value="kuwana"
                  | 桑名
                option value="yokkaichi"
                  | 四日市
                option value="tsu"
                  | 津
                option value="matsusaka"
                  | 松阪
                option value="other"
                  | その他
              optgroup label="県外"
                option value="aichi"
                  | 愛知県
                option value="gihu"
                  | 岐阜県
                option value="other"
                  | その他

        .form-group
          .col-3.col-sm-12
            label.form-label 世帯形態
          label.form-radio.form-inline
            input name="family" type="radio"
            i.form-icon
            | 一人暮らし
          label.form-radio.form-inline
            input name="family" type="radio"
            i.form-icon
            | カップル・夫婦
          label.form-radio.form-inline
            input name="family" type="radio"
            i.form-icon
            | 親・子供などの家族
          label.form-radio.form-inline
            input name="family" type="radio"
            i.form-icon
            | その他

      fieldset.mt-5
        legend
          | 猫について
        .form-group
          .col-3.col-sm-12
            label.form-label ご希望の猫(複数選択可)
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | 蘭　　
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | 蘭丸　
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | ハク　
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | 健太郎
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | ネット
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | あみ　
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | 福太郎
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | チャー
          label.form-checkbox.form-inline
            input name="cats" type="checkbox"
            i.form-icon
            | 未定　

        .form-group
          .col-3.col-sm-12
            label.form-label 猫の飼育経験
          label.form-radio.form-inline
            input name="keep" type="radio"
            i.form-icon
            | ある
          label.form-radio.form-inline
            input name="keep" type="radio"
            i.form-icon
            | ない

        .form-group
          .col-3.col-sm-12
            label.form-label 先住猫の有無
          label.form-radio.form-inline
            input name="former-cats" type="radio"
            i.form-icon
            | いる
          label.form-radio.form-inline
            input name="former-cats" type="radio"
            i.form-icon
            | いない

        .form-group
          .col-3.col-sm-12
            label.form-label for="message" お問い合わせ内容
          .col-9.col-sm-12
            textarea#message.form-input placeholder="猫を飼育するに当たってのご質問など、お気軽にお問い合わせください。" rows="5"

      .col-9.col-sm-12.col-ml-auto
        input type="submit" value="送信" class="btn btn-default" style="width: 100%; margin: auto; text-align: center;"
