---
title: 里親になるためには
---

.image
  img.how src="neco.jpg" alt="ヘッダー画像"

h1.title
  | 里親になるためには

p.title-discription
  | こちらのページでは、猫を迎えるにあたって必要なものや飼い方をご紹介します。
  br
  | また、譲渡時に必要な書類や契約書などもこちらで確認できます。

.how-contents.wrapper
  article
    #step
    h2.step
      | 保護猫と暮らすまでのステップ
    header.step-info
      h2.step-title
        | 里親を希望する
      p.step-no
        | STEP
        span
          | １
      p.step-sentence
        | お問い合わせフォームより里親希望の連絡をします（電話も可）。その際にはアンケートに答えていただきますよう、お願いします。

    header.step-info
      h2.step-title
        | 面会日を決める
      p.step-no
        | STEP
        span
          | ２
      p.step-sentence
        | 担当者より連絡させていただき、実際にご来店・面会していただく日を決めます。

    header.step-info
      h2.step-title
        | ご来店・面会
      p.step-no
        | STEP
        span
          | ３
      p.step-sentence
        | 面会の前にはエントリーシートのご記入をお願いします。（ダウンロードは
        a.download1 href="#"
          | こちら
        | からも可能です）
        br
        |  実際に猫と触れてみて、ご希望の子を選んでいただきます。

    header.step-info
      h2.step-title
        | まずはトライアルから
      p.step-no
        | STEP
        span
          | ４
      p.step-sentence
        | 保護猫カフェ 猫婆では、正式譲渡の前に2週間〜1ヶ月のトライアル期間を設けています。 その際に必要な書類は下記に記載してあります。誓約書などのダウンロードも下記リンクから可能です。

    header.step-info
      h2.step-title
        | トライアル開始（2週間〜1ヶ月）
      p.step-no
        | STEP
        span
          | ５
      p.step-sentence
        | トライアルの際には、保護猫カフェ 猫婆のスタッフが猫をご自宅にお届けに参ります。 この際、スタッフが飼育環境にふさわしくないと判断した場合、トライアルをお断りさせていただく場合がございます。あらかじめご了承ください。

    header.step-info
      h2.step-title
        | 正式譲渡
      p.step-no
        | STEP
        span
          | ６
      p.step-sentence
        | トライアル期間が終わり、正式に猫をお迎えしていただくために、正式譲渡契約書にサインをお願いします。 正式譲渡の際には、希望の猫ちゃんのそれまでに実際にかかったワクチン代、去勢・避妊手術代等をいただきます。（例：去勢手術7,000円、避妊手術12,000円）ご理解いただきますよう、よろしくお願い致します。

    #documents
      h2.step
        | 必要書類のご案内
      p.documents
        | トライアル、正式譲渡に必要な書類をご紹介します。下記のボタンをクリックすると、各内容のご確認・ダウンロードができます。
        <a href="../../image/design/tagindex_mini.gif" download="TAGindex.gif">ダウンロード</a>
      h3.trial
        | 【トライアル時に必要な書類】
      ol.trial-li
        li
          | 身分証明書のコピー（運転免許証など）
        li
          | トライアル誓約書
      h3.trial
        | 【正式譲渡時に必要な書類】
      ol.trial-li
        li
          | 正式譲渡契約書
        li
          | 譲渡条件承諾書
    .dl-button
      .dl-item
        a.download href="#"
          | エントリーシート
      .dl-item
        a.download href="#"
          | トライアル誓約書
      .dl-item
        a.download href="#"
          | 正式譲渡契約書

    #goods
      h2.step
        | 必要な猫グッズのご紹介
      p.goods
        | 初めてもしくは、久しぶりに猫を飼う場合などには、どんなものが必要か分からないかもしれません。そんな方のために、猫を飼うために必要なものをご紹介します。 猫と人間が一緒に快適な暮らしを送るためには、これらのアイテムを揃えることをオススメします！
      h3.goods1
        | 必要なもの
      .wrapper.grid
        .item
          = image_tag 'toilet.gif', alt: '便所'
        .item
          img src="images/food.gif" alt="餌"
        .item
          img src="dish.gif" alt="皿"
        .item
          img src="carry.gif" alt="籠"
        .item
          img src="tumetogi.gif" alt="爪研"
        .item
          img src="toy.gif" alt="玩具"
        .item
          img src="bag.gif" alt="鞄"
        .item
          img src="tower.gif" alt="塔"
        .item
          img src="bed.gif" alt="寝台"

  aside
    h3.sub-title
      | カテゴリー
    ul.sub-menu
      li
        a href="#step"
          | 保護猫と暮らすまでのステップ
      li
        a href="#documents"
          | 必要書類のご案内
      li
        a href="#goods"
          | 必要な猫グッズのご紹介
