.container
  .sns.text-right
    a href="＃"
      = image_tag 'instagram460x460.png', alt: 'Instagram'
    a href="＃"
      = image_tag 'twitter460x460.png', alt: 'Twitter'

  / https://csswarp.eleqtriq.com
  .circle
    p
      | 猫と過ごす
      br
      | しあわせなひとときを

    #warped
      span.w0 C
      span.w1 a
      span.w2 t
      span.w3 s
      span.w4
      span.w5 m
      span.w6 a
      span.w7 k
      span.w8 e
      span.w9
      span.w10 y
      span.w11 o
      span.w12 u
      span.w13
      span.w14 h
      span.w15 a
      span.w16 p
      span.w17 p
      span.w18 y
      span.w19
      span.w20 a
      span.w21 n
      span.w22 y
      span.w23 t
      span.w24 i
      span.w25 m
      span.w26 e
      span.w27 !


  .title.h2
    p
      | すべての猫に「家族」を
