---
title: インタビュー
---

.interview

  .chat.left
    .cat-avatar
      = image_tag 'cat01.jpg'
    .cat-miaow
      p
        | 僕はサバトラの翔平、7歳です！いろいろあって健太郎と一緒に
        br
        | 他の施設から猫婆に引っ越しました。健太郎はまだ猫婆にいるみたいですが、、、

  .chat.right
    .cat-avatar
      = image_tag 'cat02.jpg'
    .cat-miaow
      p
        | 僕は4歳の茶トラのチャーです！飼い主のレイにはチャーちゃんって呼ばれています。
        br
        |  元は猫婆の近くの野良猫でしたが、猫婆のおばちゃんが僕に一目惚れをし、捕まえらてしまいました。
        br
        |  突然生活が変わってビックリしましたが、そのおかげでレイと出会え、今となっては良かったと思っています^^
