---
title: 料金・営業時間
---

.image
  img.kenken src="kenken.jpg" alt="ヘッダー画像"

h2
  | 料金・営業時間

h3
  | ご利用料金
p
  | 1時間 大人800円
  br
  |  高校生以下600円
p
  | 延長30分毎400円
  br
  |  ミネラルウォーター付き

h3
  | 営業時間
p
  | 不定休
p
  | 【完全予約制】
p
  | 受付時間：AM10:00〜PM5:00
  br
  |  いつでも気軽にお問い合わせください★
h3
  | 営業時間
p
  | 不定休
p
  | 【完全予約制】
p
  | 受付時間：AM10:00〜PM5:00
  br
  |  いつでも気軽にお問い合わせください★
h3
  | 営業時間
p
  | 不定休
p
  | 【完全予約制】
p
  | 受付時間：AM10:00〜PM5:00
  br
  |  いつでも気軽にお問い合わせください★
h3
  | 営業時間
p
  | 不定休
p
  | 【完全予約制】
p
  | 受付時間：AM10:00〜PM5:00
  br
  |  いつでも気軽にお問い合わせください★
